.App {
  text-align: center;
  .linkTestButton {
    padding: 20px;
    display: inline-block;
  }
  .testReduxButton{
    margin: 0 30px;
  }
  .hooksTestButton {
    margin: 30px;
  }
}

.App-logo {
  height: 360px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
