.Test-header {
    text-align: center;
    p {
        font-size: 40px;
        border: 1px solid #333333;
        display: inline-block;
        padding: 30px;
        box-sizing: border-box;
        display: flex;
    }
}